.h1{
    padding: 10px; 
}

.row-tile{
    align-items: center;
    text-align: right;
    width: 100%;
    max-width: 120rem;
    padding: 0 1.5rem;
    margin: 0 auto;
    padding-bottom: 20px;
}

.tile-body {
    text-align: right; 
    margin-top: -175px;
}

.tile-img{
    padding: 10px;
    margin-left: 20px;
    margin-top: 10px;
}
footer{
    padding: 10px;
}
