.row{
    padding: 75px;
}

.noOfPeopleCSS{
    color: black;
    padding: 30px;
}
.priceCSS{
    color: blue;
    padding: 30px;
}
.checkInDateCSS{
    color: blue;
    padding: 30px;
}

.checkOutDateCSS{
    color: blue;
    padding: 30px;
}

.styleCSS{
    color: blue;
    padding: 30px;
}