.row{
    padding: 75px;
}

.noOfPeopleCSS{
    color: black;
    padding: 30px;
}
.priceCSS{
    color: blue;
    padding: 30px;
}
.checkInDateCSS{
    color: blue;
    padding: 30px;
}

.checkOutDateCSS{
    color: blue;
    padding: 30px;
}
.listingImage {
    max-width: 200px;
    padding: 10px;
    
}

.styleCSS{
    color: blue;
    padding: 30px;
}


.find-your-stay-container {
    margin: 100px 20px;
}
.destinationCSS{
    color: blue;
    align-items: right;
    padding-left: 50px;
}