.armagh{
    width: 300px; 
    height: 200px;
    /* border-radius: 50px; */
    float: center;
    margin-right: 50px;
  }
  .dublin{
    width: 300px;
    height: 200px;
    /* border-radius: 50px; */
    float: center;
    margin-right: 50px;
  }
  .galway{
    width: 300px;
    height: 200px;
    /* border-radius: 50px; */
    float: center;
    margin-right: 50px;
  }
  .donegal{
    width: 300px;
    height: 200px;
    /* border-radius: 50px; */
    float: center;
    margin-right: 50px;
  }
  .cork{
    width: 300px;
    height: 200px;
    /* border-radius: 50px; */
    float: center;
    margin-right: 50px;
  }
  .cavan{
    width: 300px;
    height: 200px;
    /* border-radius: 50px; */
    float: center;
    margin-right: 50px;
  }
  .waterford{
    width: 300px;
    height: 200px;
    /* border-radius: 50px; */
    float: center;
    margin-right: 50px;
  }
  .portrush{
    width: 300px;
    height: 200px;
    /* border-radius: 50px; */
    float: center;
    margin-right: 50px;
  }
  .limerick{
    width: 300px;
    height: 200px;
    /* border-radius: 50px; */
    float: center;
    margin-right: 50px;
  }