.armagh{
    width: 300px; 
    height: 200px;
    /* border-radius: 50px; */
    float: center;
    margin-right: 50px;
  }
  .dublin{
    width: 300px;
    height: 200px;
    /* border-radius: 50px; */
    float: center;
    margin-right: 50px;
  }
  .galway{
    width: 300px;
    height: 200px;
    /* border-radius: 50px; */
    float: center;
    margin-right: 50px;
  }